@page "/home/dashboard"
@using Client.Pages.ContentPage.DepartmentPages
@using Client.Pages.OtherPages
@inject NavigationManager NavManager

<div class="w-full transition-margin duration-200">
    <TableBanner IsSidebarOpen="IsSidebarOpen"/>
    <GeneralDepartmentPage/>
    <DepartmentPage></DepartmentPage>
</div>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    [CascadingParameter] public bool IsSidebarOpen { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState).User;
        bool isAuthenticated = user.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            NavManager.NavigateTo("/identity/account/login");
        }
    }

}