@inject IJSRuntime js

<div class="relative inline-block text-left">
    <button @onclick="ToggleDropdown" class="flex items-center space-x-2 focus:outline-none group">
        <img src="@(ProfileImage == "" ? "../images/profile/defaultProfileImage.jpg" : ProfileImage)"
             alt="Profile"
             class="w-8 h-8 sm:w-10 sm:h-10 rounded-full border-2 border-gray-200 object-cover group-hover:border-blue-400 transition-colors duration-200">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-4 w-4 sm:h-5 sm:w-5 text-gray-600 group-hover:text-blue-500 transition-colors duration-200"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
        </svg>
    </button>

    @if (isOpen)
    {
        <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-lg shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-50"
             role="menu"
             aria-orientation="vertical"
             aria-labelledby="menu-button">
            <div class="py-1" role="none">
            <a href="/profile"
               class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-blue-600 transition-colors duration-200">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-4 w-4 sm:h-5 sm:w-5 mr-3"
                     viewBox="0 0 20 20"
                     fill="currentColor">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                </svg>
                <span>Profile</span>
                </a>

                <div class="border-t border-gray-100 my-1"></div>

                <button @onclick="ToggleTheme" class="flex w-full items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 hover:text-blue-600 transition-colors duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 sm:h-5 sm:w-5 mr-3" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"/>
                    </svg>
                    <span>Toggle Theme</span>
                </button>

                <div class="border-t border-gray-100 my-1"></div>
                <button @onclick="LogoutClicked"
                        class="flex w-full items-center px-4 py-2 text-sm text-red-600 hover:bg-gray-50 hover:text-red-700 transition-colors duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-4 w-4 sm:h-5 sm:w-5 mr-3"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"/>
                    </svg>
                    <span>Logout</span>
                </button>
            </div>
        </div>
    }
</div>

@code {
    private bool isOpen = false;

    private string ProfileImage { get; set; } = "";
    private bool isDarkMode = false;

    private void ToggleDropdown()
    {
        isOpen = !isOpen;
    }


    private async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customStateProvider.UpdateAuthenticationState(logoutModel);
        Navigation.NavigateTo("/identity/account/login");
    }

    private void ToggleTheme()
    {
        isDarkMode = !isDarkMode;
        if (isDarkMode)
        {
            js.InvokeVoidAsync("document.documentElement.classList.add", "dark");
        }
        else
        {
            js.InvokeVoidAsync("document.documentElement.classList.remove", "dark");
        }
    }

}